<link rel="stylesheet" type="text/css" href="../css/style.css">
<script type="text/javascript" src="../js/script.js"></script>


<div ng-controller="all_videos" style="padding-top: 10%; padding-left: 10%;">
  <div ng-repeat="video in all_videos_json_data" style="margin-top: 150px;">
    
  <div class="list-left">
    <a href = "https://www.youtube.com/embed/{{video.video_id}}"> 
      <img src="{{video.thumb}}">
    </a>
  </div>

  <div class = "list-right">
    <h3> <a href = "https://www.youtube.com/embed/{{video.video_id}}">{{video.title}}</a></h3>
    <div class = "clearfix"></div>
  </div>

  <br>
  <br>
</div>
  <script>

  function postTag() {
    var id = document.getElementById('id').innerHTML;
    console.log(id)
    var name = document.getElementById('name').value;
    data = {
      name: name
    }
    var url = "/api/Videos/" + id + "/tags";
    alert(url);
    $.ajax({
      type: "POST",
      url: url,
      dataType : 'json',
      data : data,
      success : function (response) {
      console.log(response)
      window.location.reload();
      },
      error: function (response) {
      alert("ERROR")
      }
    });
  }


  </script>
</div>